/* VARIABLES */

$white : #FFFFFF;
$rose : #F20066;
$darkblue : #22217F;
$darkestblue : #131342;
$lightblue : #51BDFF;
$lighterblue : #EFF8FE;
$gold : #FCD621;

/* LAYOUT MIXINS */
@mixin c-l-pad {
    padding: 0 16px;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-spacing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MEDIA MIXINS */

@mixin min-md {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin max-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

/* TYPO MIXINS */

@mixin light-font{
    font-weight: 300;
}
@mixin regular-font{
    font-weight: 400;
}
@mixin medium-font{
    font-weight: 500;
}
@mixin bold-font{
    font-weight: 700;
}

/* GENERIC ITEMS */

.svgicon{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.s-icon{
        width: 14px;
        height: 14px;
    }

    &.m-icon{
        width: 16px;
        height: 16px; 
    }

    &.xxl-icon{
        height: 70px;
        width: 70px;
    }

    /* ICON LIST */
    &.icon-gift{
        background-image: url('/assets/icons/gift.svg');
    }
    &.icon-menu{
        background-image: url('/assets/icons/menu.svg');
    }
    &.icon-search{
        background-image: url('/assets/icons/magnifying-glass.svg');
    }
    &.icon-user{
        background-image: url('/assets/icons/user.svg');
    }
    &.icon-basket{
        background-image: url('/assets/icons/shopping-bag.svg');
    }

    &.icon-football{
        background-image: url('/assets/icons/football.svg');
    }

}

.btn{
    display: inline-flex;
    cursor: pointer;
    padding: 8px;
    position: relative;

    .btn-icon{
        float: left;
    }
    .btn-label{
        margin-left: 16px;
        font-size: 15px;
        line-height: 15px;
        color: white;
    }
    .btn-minilabel{
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 10px;
        @include bold-font();
        color: $gold;
    }
}

.cta-primary {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    padding: 22px 32px;
    border-radius: 18px;
    background-color: $lightblue;
    color: $darkblue;
}

.club{
    @include flex-center();
    flex-direction: column;
    padding: 0 16px;

    .club-logo {
        width: 65px;
        height: 65px;
        display: inline-block;

        img{
            height: 100%;
        }
    } 

    .club-name{
        font-size: 24px;
        color: white;
        text-align: center;
        line-height: 24px;
        padding: 12px 0;
        text-transform: uppercase;

        .first-line{
            @include bold-font();
        }

        .second-line{
            @include regular-font();
        }
    }
}

.step-bar{
    @include flex-center();
    flex-direction: row;
    .step{
        @include flex-center();
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid;
        border-color: transparent;
        margin: 8px;

        &:not(.active){
            .inner-circle{
                width: 12px;
                height: 12px;
                display: inline-flex;
                border-radius: 50%;
                border: 2px solid;
                border-color: $darkblue;
            }
        }
        

        &.active{
            border-color: $lightblue;

            .inner-circle{
                width: 8px;
                height: 8px;
                display: inline-flex;
                border-radius: 50%;
                background-color: $darkblue;
            }
        }
    }
}

.only-desktop{
    @include max-md(){
        display: none;
    }
}

.only-mobile{
    @include min-md(){
        display: none;
    }
}

.txt-center{
    text-align: center;
}

/* 'COMPONENTS' */

.banner {
    @include c-l-pad();
    height: 36px;
    @include flex-center();
    background: $rose;
    color: $white;

    @include min-md(){
        height: 46px;
    }

    &-message{
        .message-icon{
            margin-right: 12px;
            float: left;
        }
        .message-label{
            @include medium-font()
        }
    }
}

.toolbar {
    background: $darkblue;
    height: 86px;
    @include flex-center();
    @include c-l-pad();

    @include min-md{
        height: 112px;
    }

    &-container{
        width: 100%;
        max-width: 1634px;

        @include flex-spacing();
    }

    .toolbar-bloc {
        display: inline-flex;
        width: calc(100% / 3);

        &-left{
            justify-content: flex-start;
        }
        &-middle{
            justify-content: center;
        }
        &-right{
            justify-content: flex-end;
        }
    }

    .menu-btn {
        margin-right: 24px;
        
        @include max-md(){
            margin-right: 16px;

            .btn-label{
                margin-left: 0;
                display: none;
            }
        }

    }
}

.hero {
    height: 460px;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include min-md(){
        background-position: center;
    }

    .event-bloc{
        background: linear-gradient(rgba(0,0,0,0.98), rgba(34,33,127,0.98));
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        padding: 32px 16px 48px;

        .event-line-up{
            @include flex-center();
            flex-direction : row;

            .away-club, .home-club{
                display: flex;
                flex-direction: row;
                width: 40%;
                @include min-md(){
                    width: 20%;
                }
            }
            .home-club{
                justify-content: center;
            }
            .away-club{
                justify-content: center;
            }

            .vs{
                color: $gold;
                font-size: 16px;
                position: relative;
                top: -32px;
            }
        }

        .event-info{
            text-align: center;
            padding: 12px 0;

            .first-line{
                color: $gold;
            }

            .second-line{
                color: white;
            }
        }

    }



}

.shop-bloc {
    padding: 32px 32px;
    border-radius: 32px;
    position: relative;
    margin: -32px 0;
    background: white;

    .container{
        width: 100%;
        max-width: 912px;
        margin: 0 auto;
    }

    .bloc-title{
        width: 100%;
        text-align: center;
        color: $darkblue;
        border-bottom: 2px solid $lightblue;
    }

    p{
        font-size: 16px;
        @include regular-font();
        text-align: center;
        color: $darkblue;

        b {
            white-space: nowrap;
            @include bold-font();
        }

        @include min-md(){
            background-color: $lighterblue;
            padding: 32px;
            border-radius: 32px;
        }
    }

    .relative-container{
        margin: 32px 0;
    }

    .absolute-container{
        position: absolute;
        bottom: -38px;
        left: 0;
        width: 100%;
        padding: 0 32px;
    }
    
    .cta-primary {
        width: 100%;

        @include min-md(){
            max-width: 344px;
        }
    }
}


.footer{
    background: $darkestblue;
    @include flex-center();
    flex-direction: column;
    padding: 96px 16px 32px;
    color: white;

    a{
        color: $lightblue;
    }

    .stripe-img{
        width: 140px;

        img{
            width: 100%;
        }
    }

    hr{
        width: 32px;
    }

    .footer-bloc{
        text-align: center;

        @include max-md(){
            &.help > div{
                display: inline-block;
                &:first-child{
                    margin-right: 4px;
                }
            }
        }
    }


}


