/* VARIABLES */

$white : #FFFFFF;
$rose : #F20066;
$darkblue : #22217F;
$darkestblue : #131342;
$lightblue : #51BDFF;
$lighterblue : #EFF8FE;
$lightgrey : rgb(177, 177, 177);
$gold : #FCD621;

/* LAYOUT MIXINS */
@mixin c-l-pad {
    padding: 0 16px;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-spacing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MEDIA MIXINS */

@mixin min-md {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin max-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

/* TYPO MIXINS */

@mixin light-font{
    font-weight: 300;
}
@mixin regular-font{
    font-weight: 400;
}
@mixin medium-font{
    font-weight: 500;
}
@mixin bold-font{
    font-weight: 700;
}

/* GENERIC ITEMS */

.svgicon{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.s-icon{
        width: 14px;
        height: 14px;
    }

    &.m-icon{
        width: 16px;
        height: 16px; 
    }

    &.l-icon{
        width: 18px;
        height: 18px;
    }

    &.xxl-icon{
        height: 70px;
        width: 70px;
    }

    /* ICON LIST */
    &.icon-gift{
        background-image: url('/assets/icons/gift.svg');
    }
    &.icon-menu{
        background-image: url('/assets/icons/menu.svg');
    }
    &.icon-search{
        background-image: url('/assets/icons/magnifying-glass.svg');
    }
    &.icon-user{
        background-image: url('/assets/icons/user.svg');
    }
    &.icon-basket{
        background-image: url('/assets/icons/shopping-bag.svg');
    }
    &.icon-arrow-left{
        background-image: url('/assets/icons/arrow-left.svg');
    }
    &.icon-zoom-in{
        background-image: url('/assets/icons/zoom-in.svg');
    }
    &.icon-zoom-out{
        background-image: url('/assets/icons/zoom-out.svg');
    }
    &.icon-expand{
        background-image: url('/assets/icons/expand.svg');
    }

    &.icon-football{
        background-image: url('/assets/icons/football.svg');
    }

}

.btn{
    display: inline-flex;
    cursor: pointer;
    padding: 8px;
    position: relative;

    .btn-icon{
        float: left;
    }
    .btn-label{
        margin-left: 16px;
        font-size: 15px;
        line-height: 15px;
        color: white;
    }
    .btn-minilabel{
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 10px;
        @include bold-font();
        color: $gold;
    }
}

.cta-primary {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    padding: 22px 32px;
    border-radius: 18px;
    background-color: $lightblue;
    color: $darkblue;
}

.club{
    @include flex-center();
    flex-direction: column;
    padding: 0 16px;

    .club-logo {
        width: 65px;
        height: 65px;
        display: inline-block;

        img{
            height: 100%;
        }
    } 

    .club-name{
        font-size: 24px;
        color: white;
        text-align: center;
        line-height: 24px;
        padding: 12px 0;
        text-transform: uppercase;

        .first-line{
            @include bold-font();
        }

        .second-line{
            @include regular-font();
        }
    }
}

.step-bar{
    @include flex-center();
    flex-direction: row;
    .step{
        @include flex-center();
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid;
        border-color: transparent;
        margin: 8px;

        &:not(.active){
            .inner-circle{
                width: 12px;
                height: 12px;
                display: inline-flex;
                border-radius: 50%;
                border: 2px solid;
                border-color: $darkblue;
            }
        }
        

        &.active{
            border-color: $lightblue;

            .inner-circle{
                width: 8px;
                height: 8px;
                display: inline-flex;
                border-radius: 50%;
                background-color: $darkblue;
            }
        }
    }
}

.only-desktop{
    @include max-md(){
        display: none;
    }
}

.only-mobile{
    @include min-md(){
        display: none;
    }
}

.txt-center{
    text-align: center;
}

.nowrap{
    white-space: nowrap;
}

.medium-container{
    width: 100%;
    max-width: 912px;
    margin: 0 auto;
}

.form-input-group {
    margin: 0 0 16px 0;

    .input-select{

        &.expanded{
            .input .dropdown-icon {
                transform: rotate(90deg);
            }
        }

        .input{
            padding: 8px 0;
            border-bottom: 1px solid;
            border-color: $darkblue;
            color: $darkblue;
            cursor: pointer;

            .label{
                font-size: 15px;
            }

            .dropdown-icon {
                float: right;
                transform: rotate(-90deg);
                font-size: 20px;
                @include bold-font();
                transition: all .3s ease-in;
            }
        }

    }

    .dropdown-list{
        padding: 16px 0;

        .dropdown-list-item{
            padding: 12px 4px;
            border-bottom: 1px solid $lightgrey;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .list-item-label{
                color: $darkblue;
                @include regular-font();
            }
            .list-item-value {
                background: $lightblue;
                padding: 4px 16px;
                border-radius: 20px;
                color: white;
            }
        }
        
    }

    .input-text{

        .input {
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            border-bottom: 1px solid;
            padding: 8px 0;
            font-size: 15px;
            border-color: $darkblue;
            color: $darkblue;
            width: 100%;

            &::placeholder{
                color: $darkblue;
            }
        }

    }

}

/* 'COMPONENTS' */

.banner {
    @include c-l-pad();
    height: 36px;
    @include flex-center();
    background: $rose;
    color: $white;

    @include min-md(){
        height: 46px;
    }

    &-message{
        .message-icon{
            margin-right: 12px;
            float: left;
        }
        .message-label{
            @include medium-font()
        }
    }
}

.toolbar {
    background: $darkblue;
    height: 86px;
    @include flex-center();
    @include c-l-pad();

    @include min-md{
        height: 112px;
    }

    &-container{
        width: 100%;
        max-width: 1634px;

        @include flex-spacing();
    }

    .toolbar-bloc {
        display: inline-flex;
        width: calc(100% / 3);

        &-left{
            justify-content: flex-start;
        }
        &-middle{
            justify-content: center;
        }
        &-right{
            justify-content: flex-end;
        }
    }

    .menu-btn {
        margin-right: 24px;
        
        @include max-md(){
            margin-right: 16px;

            .btn-label{
                margin-left: 0;
                display: none;
            }
        }

    }
}

.hero {
    height: 460px;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include min-md(){
        background-position: center;
    }

    .event-bloc{
        background: linear-gradient(rgba(0,0,0,0.98), rgba(34,33,127,0.98));
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        padding: 32px 16px 48px;

        @include min-md(){
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .event-line-up{
            @include flex-center();
            flex-direction : row;

            .away-club, .home-club{
                display: flex;
                flex-direction: row;
                width: 40%;
                @include min-md(){
                    width: 20%;
                }
            }
            .home-club{
                justify-content: center;
            }
            .away-club{
                justify-content: center;
            }

            .vs{
                color: $gold;
                font-size: 16px;
                position: relative;
                top: -32px;
            }
        }

        .event-info{
            text-align: center;
            padding: 12px 0;

            .first-line{
                color: $gold;
            }

            .second-line{
                color: white;
            }
        }

    }

    .navbar{

        .navbar-bloc {
            display: inline-flex;
            width: calc(100% / 3);

            @include max-md(){
                width: calc(100%/2);
            }
    
            &-left{
                justify-content: flex-start;
            }
            &-middle{
                justify-content: center;
                @include max-md(){
                    display: none;
                }
            }
            &-right{
                justify-content: flex-end;
            }
        }

        .basket-btn{
            .btn-label{
                color: $gold;
            }
        }
    }

}

.shop-bloc {
    padding: 32px 32px;
    border-radius: 32px;
    position: relative;
    margin: -32px 0;
    background: white;

    @include min-md(){
        padding: 48px 32px;
        border-radius: 0;
    }

    .bloc-title{
        width: 100%;
        text-align: center;
        color: $darkblue;
        border-bottom: 1px solid $lightblue;
        margin-bottom: 32px;
    }

    p{
        font-size: 16px;
        @include regular-font();
        text-align: center;
        color: $darkblue;

        b {
            @include bold-font();
        }

        @include min-md(){
            background-color: $lighterblue;
            padding: 32px;
            border-radius: 32px;
        }
    }

    .relative-container{
        margin: 32px 0;
    }

    .absolute-container{
        position: absolute;
        bottom: -38px;
        left: 0;
        width: 100%;
        padding: 0 32px;
    }
    
    .cta-primary {
        width: 100%;

        @include min-md(){
            max-width: 344px;
        }
    }

    .choice-mode-bloc{
        text-align: center;
        margin-bottom: 32px;

        .choice-btn{
            margin: 0 8px;
            .choice-btn-label{
                font-size: 18px;
                @include bold-font();
                text-align: center;
                color: $darkblue;
                border-bottom: 2px solid;
                border-color: $lightblue;
            }
            &:not(.active){
                .choice-btn-label{
                    color: $lightgrey;
                    border-color: $lightgrey;
                }
            }
        }
    }

    .ticket-choice-bloc{
        display: flex;
        flex-direction: row;

        @include min-md() {
            background-color: $lighterblue;
            padding: 32px 40px;
            border-radius: 32px;
        }

        .choice-form{
            width: 100%;

            @include min-md(){
                width: 40%;
            }
        }

        .stadium-display{
            flex: 1;
            text-align: center;
            margin-bottom: 24px;

            @include min-md(){
                padding-left: 40px;
            }
            
            img{
                width: 100%;
            }

            &-controls{
                .display-ctrl{
                    margin: 4px;
                }
            }
        }
        
    }

    .total {
        display: inline-block;
        margin: 12px 0;
        padding: 20px 48px;
        background: $lighterblue;
        border-radius: 16px;
        font-size: 20px;
        @include bold-font();

        &-label{
            color: $lightblue;
        }

        &-value{
            color: $darkblue;
        }
    }

    .upsell-bloc{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 32px 0 0;

        @include min-md(){
            flex-direction: row;
        }

        .upsell-btn{
            padding: 16px 32px;
            border: 1px solid;
            border-color: $lightblue;
            border-radius: 16px;
            @include flex-center();

            @include max-md(){
                width: 100%;
                margin: 16px 0;
            }

            .btn-icon{
                color: $darkblue;
                @include bold-font();
                font-style: normal;
                font-size: 20px;
                line-height: 14px;
                position: relative;
                top: -1px;
            }

            .btn-label{
                color: $lightblue;
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
    }

    .recap-bloc{
        @include min-md(){
            background-color: $lighterblue;
            padding: 32px;
            border-radius: 32px;
            margin-bottom: 32px;
        }
        
        p{
            font-size: 14px;
            margin: 0;
        }

        .recap-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include min-md(){
                flex-direction: row;
            }

            .detail-item{
                // width: calc(100% / 3);
                font-size: 15px;
                border-bottom: 1px solid;
                border-bottom-color: $lightgrey;
                padding: 12px 0;
                margin-bottom: 4px;
                
                @include min-md(){
                    text-align: center;
                    margin: 0 16px;

                    &:first-child{
                        text-align: left;
                    }
    
                    &:last-child{
                        text-align: right;
                    }
                }
                
                .detail-label{
                    @include bold-font();
                    color: $darkblue;
                }

                .detail-value{
                    color: $lightblue;
                }
            }
        }
    }
}


.footer{
    background: $darkestblue;
    @include flex-center();
    flex-direction: column;
    padding: 96px 16px 32px;
    color: white;

    a{
        color: $lightblue;
    }

    .stripe-img{
        width: 140px;

        img{
            width: 100%;
        }
    }

    hr{
        width: 32px;
    }

    .footer-bloc{
        text-align: center;

        @include max-md(){
            &.help > div{
                display: inline-block;
                &:first-child{
                    margin-right: 4px;
                }
            }
        }
    }


}


