<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="banner">
  <a href="#" class="banner-message">
    <i class="message-icon svgicon svg-gift smallicon"></i>
    <span class="message-label">Découvrir votre cadeau</span>
  </a>
</div>

<div class="toolbar" role="banner">

</div>

<div class="content" role="main">




</div>

<router-outlet></router-outlet>