<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="banner">
  <a href="#" class="banner-message">
    <i class="message-icon svgicon icon-gift s-icon"></i>
    <span class="message-label">Découvrir votre cadeau</span>
  </a>
</div>

<div class="toolbar" role="banner">
 
  <div class="toolbar-container">
    
    <div class="toolbar-bloc toolbar-bloc-left">
      <div class="menu-btn btn">
        <i class="btn-icon svgicon icon-menu m-icon"></i>
        <span class="btn-label">Menu</span>
      </div>

      <div class="search-btn btn">
        <i class="btn-icon svgicon icon-search m-icon"></i>
      </div>

    </div>

    <div class="toolbar-bloc toolbar-bloc-middle">
      <div class="app-icon">
        <a href="#">
          <i class="svgicon xxl-icon icon-football"></i>
        </a>
      </div>
    </div>

    <div class="toolbar-bloc toolbar-bloc-right">
      <div class="user-btn btn">
        <i class="btn-icon svgicon icon-user m-icon"></i>
      </div>

      <div class="basket-btn btn">
        <i class="btn-icon svgicon icon-basket m-icon"></i>
        <span class="btn-minilabel">3</span>
      </div>

    </div>

  </div>

</div>

<div class="content" role="main">

  <div class="hero" style="background-image: url('/assets/images/pfc-vs-fscm-3x.png');">

  </div>



</div>

<router-outlet></router-outlet>